.about {
    background-color: #a3a9ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px; 
    margin-top: 10px;
}

.about p {
    margin-bottom: 30px;
}
